.container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 5px;
}

.caja1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blue;
    width: 20px;
    height: 20px;
}
.caja2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    background-color: green;
    width: 20px;
    height: 20px;
}
.caja3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: yellow;
    width: 20px;
    height: 20px;
}
.caja4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: red;
    width: 20px;
    height: 20px;
}
